
    .avatar {
        height: 80px;
        width: auto;
        padding: 8px;
    }

    .avatar2 {
        height: 180px;
        width: auto;
        max-width: 190px !important;
        @media (max-width: 462px) {
            height: 120px;
            max-width: 120px !important;
        }
        float: left;
        vertical-align: top;
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 5px;
        margin-top: -5px;
        margin-bottom: -30px;
    }

    .profileContainer {
        width: 98%;
        height: auto;
        background: #00000000;

    }
    
    .labelTxt {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

    .labelTxt2 {
        top: 0;
        margin: 0;
        margin-top: -25px;
        padding: 0;
    }

    .txtDetailConatiner {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4em;
        margin: 30px;
        width: 95%;
        padding-bottom: 70px;
        padding-top: 5px;
    }

    ion-content {
        margin: 0;
        padding: 0;
    }

    .emailTxt2 {
        padding-top: 20px;
    }

    .titelBlock {
        margin-top: 35px;
        vertical-align: top;
    }

    .mugShot {
        width: 130px;
        height: 150px;
        text-align: center;
        border-radius: 10px;
        margin: 13px;
        background: #ffffffe7;
        float: right;
        float: left;
    }

    .mugShot2 {
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 462px) {
            padding-left: 0px;
            padding-right: 20px;
        }
    }

    .spacer {
        width: 130px;
        height: 150px;
        float: right;
        float: left;
    }

    .detailsPopUp {
        position: fixed;
        margin: 0;
        padding: 0;
        width: 110%;
        height: 100%;
        background: #000000da;
        margin-top: -50px;
    }

    .modalDialog {
        // border: rgb(0, 255, 34);
        // border-style: dashed;
        height: 35vh;
        width: 600px !important;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20vh;
        padding: 6px;
        background: #ffffffe7;
        border-radius: 10px;
        @media (max-width: 462px) {
            width: 300px !important;
            height: 70vh;
            margin-top: 16vh;
            padding-bottom: 20px;
        }
    }

    .lorem {
        padding-top: 20px;
    }

    ul {
        list-style: none;
    }

    .inline-flex-parent {
        display: inline-flex;
      }
    
    .container {
        margin: 0;
        margin-left: -15px;
        padding: 0;
        height: 95%;
        width: 100%;
        overflow: auto;
    }

    .title {
        padding-left: 15px;
        padding-top: 5px;
    }

    .userData {
        padding-left: 15px;
        padding-top: 0px;
    }

  .outerContainer {
    button {
        border:none;
        margin-bottom:20px;
        padding:10px;
        background: blueviolet;
        color: #fff;
    }

    .col {
        width:33%;
        display:inline-block;
        padding:40px 0;
        color:gray;
    }

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background: url('./../../../assets/bg_dark2.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  