<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outerContainer">
    <!-- <button (click)="pushItem()">Add item</button>
    <button (click)="removeItem()">Remove item</button> -->
    <div class="container" id="container" [@listAnimation]="items.length">
      <!-- <div class="profileContainer" id="list" *ngFor="let item of items" block> -->

      <ul>
        <div class="positionalDiv" *ngFor="let item of items; let i = index">
          <li>
            <div class="mugShot" (click)="selectUser(item)">
          
              <ion-spinner style="margin-top: 20px" [ngStyle]="{'display': (!!item.loaded && item.loaded === true) ? 'none' : 'visible'}"></ion-spinner>
              <ion-img class="avatar" style="margin-top: 10px" src='{{ item.photo }}' (ionImgDidLoad)="imageLoaded(i)"
                [ngStyle]="{'height': (!!item.loaded && item.loaded === true) ? '80px' : '0px', 'opacity': (!!item.loaded && item.loaded === true) ? '1' : '0'}"></ion-img>
    
              <h6 class="labelTxt"><b>{{ item.name }}</b></h6>
            </div>
            <div class="spacer" *ngIf="i === items.length-1" style="height: 100px"></div>
          </li>

        </div>
      </ul>

      <div class="detailsPopUp" *ngIf="showPersonDetails === true" (click)="showPersonDetails = false">
        <div class="modalDialog">
          <div class="mugShot2">
            <ion-img class="avatar2" src='{{ selectedUser.photo }}'></ion-img>
            <div class="txtDetailConatiner">
                <div class="titelBlock">
                    <h6 class="labelTxt2"><b>{{ selectedUser.name }}</b></h6>
                    <h4 class="title"><b>{{ selectedUser.position }}</b></h4>
                </div>
                <h5 class="emailTxt2">{{ selectedUser.email }}</h5>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua.</p>
              </div>
            </div>
        </div>
      </div>


      <!-- </div> -->
    </div>
  </div>
</ion-content>