.is-inactive {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

.is-active {
    pointer-events:auto; //This makes it not clickable
    opacity:1;         //This grays it out to look disabled
}

ion-content {
    background: #00000000;
}

ion-list {
    width: 100vw;
}

ion-list {
    height: 100%;
}

// @media (max-width: 992px) {
//     .menuContainer {
//         max-width: 20vw;
//     }
// }

// @media (min-width: 392px) {
    .is-phone {
        max-width: 225px;
    }

    .is-tabdesk {
        max-width: 100vw;
    }
// }