.chart div {
    font: 10px sans-serif;
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    text-align: right;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    color: white;
  }

 .area_label {
      position: absolute;
      float: left;
      margin-left: 5px;
  }

  .yearLabel {
    position: relative;
    float: right;
    right: 0px;
    background: transparent;
  }

  .btn-dark{
      background-color: transparent;
      border: transparent;
  }

  ion-grid {
      padding: 0;
      margin: 0;
  }

  ion-row {
    padding: 0;
    margin: 0;
  }
 
  ion-card {
    background-color: var(--ion-componentcard-background-color);
  }