.chart div {
    font: 10px sans-serif;
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    text-align: right;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    color: white;
  }

  .chartWrapper {

  }

  inner-scroll scroll-y {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .outerContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('./../../../assets/bg_dark2.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

 .area_label {
      position: absolute;
      float: left;
      margin-left: 5px;
  }

  .yearLabel {
    position: relative;
    float: right;
    right: 0px;
    background: transparent;
  }

  .btn-dark{
      background-color: transparent;
      border: transparent;
  }

  ion-grid {
      padding: 0;
      margin: 0;
  }

  ion-row {
    padding: 0;
    margin: 0;
  }
 
  ion-card {
    background-color: var(--ion-componentcard-background-color);
  }