ion-card {
    max-width: 100px;
    width: 13vw;
    height: 160px;
    background-color: var(--ion-componentcard-background-color);
    color: white;
}

.barCanvas {
    height: 100%;
    width: 100%;
    color: white;
}